<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="dismiss()">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="savePad()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="text-align: center; width: 100%">
    <canvas
      id="canvas"
      height="384"
      width="384"
      style="background-color: white; border: 1px solid black"
    ></canvas>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button color="danger" (click)="clearPad()">Clear</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
